@media only screen and (max-width: 920px) {
    /* Map */

    #map {
        height: calc(100% - 101px);
    }

    #venue>#caption {
        bottom: 0;
        border-radius: 0;
        width: 100%;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media only screen and (max-width: 738px) {
    /* Rundown */

    #rundown>#container>#timeline {
        margin: 32px 0px 0px 16px;
    }

    #rundown>#container>#timeline::after {
        left: 0;
    }

    #rundown>#container>#timeline>.item {
        width: 100%;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        padding: 8px 0 8px 24px;
    }

    #rundown>#container>#timeline>.item:nth-child(even) {
        margin-left: 0;
    }

    #rundown>#container>#timeline>.item::after {
        right: 0;
        left: -6px;
    }

    #rundown>#container>#timeline>.item:nth-child(even)::after {
        right: 0;
        left: -6px;
    }

    #rundown>#container>#timeline>.item>div {
        width: 100%;
    }

    #rundown>#container>#timeline>.item>div::after {
        right: 0;
        left: -8px;
        border-width: 10px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
    }

    #rundown>#container>#timeline>.item:nth-child(even)>div::after {
        left: -8px;
    }
}

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 3em;
    }

    /* Map */

    #map {
        height: calc(100% - 92px);
    }

    #venue>#caption {
        font-size: 1em;
    }

    /* RSVP */

    #register button {
        font-size: 1.6em;
    }

    input.dot {
        width: 100%;
        font-size: 0.8em;
    }

    #data-form select {
        font-size: 0.8em;
        width: 100%;
    }

    #data-form p:not(.warning) {
        font-size: 1.6em;
    }

    #register .info p {
        width: 100%;
        font-size: 1.5em;
    }

    /* Slot Machine */

    input {
        font-size: 3em;
    }

    /* About */

    #about>#container>p {
        font-size: 1.6em;
    }

    footer p {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 440px) {

    /* Landing Page */
    #home-container>#img {
        width: 90%;
    }

    /* Maps */

    #venue>#caption>i {
        display: none;
    }

    #venue>#caption
    /* Dresscode */

    #dresscode>#container {
        margin: 0 32px;
    }

    #dresscode,
    #dresscode>#container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #dresscode>#container>div:not(.item) {
        text-orientation: initial;
        -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
        writing-mode: initial;
        margin: 16px auto 24px
    }

    #dresscode>#container>.item>i {
        font-size: 4em;
    }

    #dresscode>#container>.item>p {
        font-size: 1.75em;
    }

    /* Rundown */

    #rundown>#container>#timeline {
        margin: 16px 0px 0px 16px;
    }

    #rundown>#container>#timeline>.item {
        padding: 4px 0 4px 24px;
    }

    /* Slot Machine */

    input {
        font-size: 2.5em;
    }

    .slot-machine {
        margin: 16px 0 0;
    }

    .slot-machine>.background {
        padding: 8px 5px 5px;
        border: solid 3px #d2dae2;
    }

    .slot-machine>.background>.background-2 {
        padding: 3px;
    }

    .slot-machine h2 {
        margin: 0px auto 4px;
        font-size: 1.25em;
    }

    .slot-machine .numbers-container {
        border: solid 3px #d2dae2;
        padding: 3px;
    }

    .slot-machine .numbers-container>.layer {
        border: solid 3px #d2dae1;
    }
}

@media only screen and (max-width: 361px) {
    /* Map */

    #map {
        height: calc(100% - 116px);
    }

    /* Rundown */

    #rundown p {
        font-size: 1.25em;
    }

    /* About */

    #about>#container>img {
        height: 48px;
    }
}